# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore build directories
dist/
build/

# Ignore Playwright test results
playwright-report/

# Ignore Playwright trace files
trace.zip

# Ignore Playwright screenshots
screenshots/

# Ignore Playwright videos
videos/